.main {
  margin: 20px;
}

.flex {
  display: flex;
}

.subtitle {
  padding-left: 15px;
  max-width: 150px;
  color: #9b4dca;
}

.poster {
  max-width: 10rem;
}

.title {
  display: flex;
  align-items: center;
}

.movie {
  border: 2px solid #9b4dca;
  border-radius: 5px;
  padding: 1rem;
}

.checked {
  background-color: rgba(155, 77, 202, 0.2)
}

.add {
  margin-left: auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: orange;
  padding: 0.5rem;
}